<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>
<div class="panel panel-default">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">eCommerce Products</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Products Available:
        </td>
        <td class="expand">
          <%= link_to  @products_count, admin_products_path %>
        </td>
      </tr>
      <tr>
        <td>
          Categories Available:
        </td>
        <td>
          <%= link_to  @categories_count, admin_categories_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
