<header class="page-header">
    <h1>About Us</h1>
</header>

<div class="about us">
  <p>We sell plants! What else do you expect? A story about how we started? The journey how we got to this point? Well take a seat, it is going to take a while...

  So we started with a garden in 2004.

  With 10 black raspberry plants, a moo cow, two bison, a snake, two kittens and a handful of orange lizards. We bought a golf cart, loaded everything in it and started driving around.

  It was pretty crazy.

  We were poor college students.

  In fact, a family of raccoons lived on our front porch for about a month while we lived in a 2 bedroom apt on campus.

  They kept eating through our garbage and we couldn't convince them to go back outside.

  When the kids finally weaned we left the baby animals with their Mom and headed back to WI to start our lives.

  We bought a house and proceeded to immediately dismantle the house and put it into storage to move into the house.

  We had almost nothing except for an old school wagon that we used to take to the hardware store to buy siding.

  Our car was a mid 80's mustang and when it was broke down we did not have enough money to fix it.

  I don't recall exactly how it happened, but we somehow had 2 new tires on the car and some 2x4's.

  We built a shed and used siding and bought a new lawnmower to start the garden.

  Of course, we didn't have any seed for plants yet so we just started with potatoes.

  Then corn.

  Then squash.

  We survived by watching lots of documentaries on the inagodable.

  We were slackers!

  We were still trying to figure out what we were doing.

  That is, until we started reading up on gardening techniques.

  So, in 2005, we got chickens.

  We had a bunch of eggs.

  We made gourmet cheeses.

  We rode around with a garden wagon and sold plants out of it.

  And, we made some money.

  We were on our way.

  This is one of the pictures we have to remember our happy times.

  We even have the darned bison in the picture!

  We sold him that year and moved into a tiny little house on the lake.

  We didn't have a garden for a while because of that.

  Once the mortgage was paid off we were looking at a 2 bedroom 1. 5 bath condo and started pondering what we would do next.

  When it got cold outside I figured I would try growing a few vegetables.

  No one told me that when you plant seeds in the fall they would be killed by the first frost.

  But no worries, we were going to go to Arizona in January.

  Ok, I might have been a bit unhappy about this.

  I still love this picture.

  This is what we saw from our deck everyday.

  In Tucson I learned how to deal with thPosted by

  The party season is in full swing and I am so excited for it!

  There are several parties going on this weekend and I am really excited to get dressed up and have a great time.

  My favorite thing about going out is just having a really great time, catching up with friends, listening to good music, and going out to dinner with friends.

  I really don't like the big events with lots of people, although I do enjoy them at times.

  The thing I love about a small get together is the chance to really get to know someone.

  The people that you are with are going to be there for the duration.

  You are going to see them in the year to come.

  You are going to start spending time with them outside of your get togethers.

  It is the type of party that everyone is comfortable and involved in and having a great time.

  The majority of the conversation is going to be about family and friends, about families and friends.

  That is what I am looking forward to the most. This weekend I am really looking forward to meeting a friend that I am certain I will be friends with for years and years.

  She is one of my best friends from grad school and we both got a little bit older since we last saw each other.

  Now, we are both married, have babies and are building lives.

  I am so happy to see that we have both been able to figure out how to do all of that without killing each other.

  She was such a major help and inspiration when I decided to move to Utah.

  She had made some very difficult life choices and was married with her husband just a month or so after we graduated.

  And, they had a baby just a month or so after that.

  I have watched this woman become the strongest woman that I know.

  She is so much more mature, and is a much stronger person than I would ever be.

  I am proud to call her my friend and I am looking forward to getting to know her better in the future.

  I am excited to get my hair cut tonight.

  My hair grows out of my head too quickly and my bangs are hanging way over my face.

  I am going to the high school graduation and will miss class today, so I am going to the high school to get it cut.

  I will miss doing all the gossipy girl talk with the ladies, but I will still get to catch up... </p>
</div>
